<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 - 努力学习社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
    <div class="container-fluid  main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h2><span class="glyphicon glyphicon-plus" aria-hideen="true"></span>发起</h2>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题标题(简明扼要):</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title"
                           placeholder="问题标题....">
                </div>
                <div class="form-group">
                    <label for="description">问题补充(必填，请参考右侧提示):</label>
                    <textarea name="description" id="description" th:value="${description}" class="form-control"
                              cols="30"
                              rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签：</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="输入标签，以，分隔开">
                </div>
                <div class="container-fluid  main">
                    <div class="row">
                        <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12" th:text="${error}"
                              th:if="${error!=null}"></div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success btn-publish">
                            发布
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h3>问题发起指南</h3>
                  (1) 问题标题：请用简明的语言描述你发布的问题，不超过25个字<br>
                  (2) 问题补充：详细补充你的问题内容，并确保问题描述清晰直观，并提供相关资料：<br>
                  (3)选择标签：选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
                  (4)关于积分：发起一个问题会消耗20个积分，每多个回复你将获得5个积分的奖励，为了你的利益，在发起问题的时候希望能够更好的描述你的问题以及多使用站内搜索功能<br>
        </div>
    </div>
</div>
</nav>
</body>
</html>